<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>密码</title>    
    {% include 'head.html' %}
</head>  
<body>  
    <div class="container text-center">  
        <div class="modal fade" id="changePwd" tabindex="-1" role="dialog" 
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" 
                           data-dismiss="modal" aria-hidden="true">
                              &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {% if oldpassword_is_wrong %}  
                                <div class="alert alert-error">  
                                    <button type="button" class="close" data-dismiss="alert">×</button>  
                                    <h4>错误!</h4>原密码不正确  
                                </div>  
                            {% endif %}  
                            {{ user.username }} 正在修改密码
                        </h4>
                    </div>
                <div class="modal-body" style="">
                    <div class="container  text-center">
                        <form class="form-horizontal text-center" action="" method="post" id="changeForm"> 
                            <div class="row">
                                <div class="col-sm-1">
                                    {{form.oldpassword.label}}:
                                </div>
                                <div class="col-sm-4">
                                    {{form.oldpassword}}
                                </div> 
                            </div> <br>
                            <div class="row">
                                <div class="col-sm-1">
                                    {{form.newpassword1.label}}:
                                </div>
                                <div class="col-sm-4">
                                    {{form.newpassword1}}
                                </div> 
                            </div> <br>
                            <div class="row">
                                <div class="col-sm-1">
                                    {{form.newpassword2.label}}:
                                </div>
                                <div class="col-sm-4">
                                    {{form.newpassword2}}
                                </div> 
                            </div> 
                        </form>  
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">  
                        <div class="col-sm-2 col-sm-offset-4">
                            <input type="submit" value="修改" form="changeForm" class="btn btn-warning" align="center">
                        </div>
                        <div class="col-sm-2">
                            <a href='/proposer/index/' class="btn btn-primary">返回主页</a>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
        <script>
            $(function(){ 
                $('#changePwd').modal({
                    keyboard: true
                })
                $('#changePwd').on('hidden.bs.modal', 
                    function(){
                        window.location.href = "/proposer/index/";
                });
            });
        </script>
    </div>    
</body>  
</html>