    <style type="text/css">
        div#header {height:10%;margin-bottom: 25px;margin-left: 20px;}
        div#menu { height:80%; width:8%; float:left;}
        div#content { height:80%; width:90%; float:left;margin-left: 5px;}
        div#footer {height:10%; clear:both; text-align:center;}
        h2 {margin-bottom:0; font-size:14px;}
        ul {margin:0;}
        li {list-style:none;}
    </style>
    <div id="header" class="text-left"> 
        <h3 >
            <i class="glyphicon glyphicon-user"></i>
            {{user.username}},欢迎使用版本发布系统
            <a href="/proposer/logout/" class="pull-right" style="margin-right:4%;">
                <i class="glyphicon glyphicon-log-out"></i> 注销
            </a>
        </h3>
    </div>
   <div id="menu">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"  href="/demo/bootstrap3-plugin-collapse-accordion.htm#collapseOne">
                        版本发布系统
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="nav nav-stacked nav-pills">
                            <li><a href="/">主页</a></li>  
                            <li><a href="/proposer/showHosts/">主机</a></li>   
                            <li class="active"><a href="/proposer/showService/">服务</a></li>
                            <li><a href="/proposer/showServiceConfig/">配置</a></li>
                            <li><a href="/proposer/showPlayBooks/">剧本</a></li>
                            <li><a href="/proposer/showTask/">任务</a></li>
                            <li><a href="/proposer/showEnvironment/">环境</a></li>
                            {% if user.is_superuser %}
                                <li><a href="/proposer/showLog/">日志</a></li>
                                <li><a href="/proposer/showPower/">授权</a></li>      
                            {% endif%}   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="/demo/bootstrap3-plugin-collapse-accordion.htm#collapseTwo">
                            学玲姐
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-stacked nav-pills">
                            <li>学玲姐</li>
                            <li>学玲姐</li>
                            <li>学玲姐</li>
                            <li>学玲姐</li>
                            <li>学玲姐</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">



    </div>

	<div id="footer">
        Copyright nsfocus.com.cn
    </div>








<div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try{ace.settings.check('navbar' , 'fixed')}catch(e){}
            </script>

            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="/proposer/index/" class="navbar-brand">
                        <small>
                            <i class="icon-leaf"></i>
                            版本发布系统系统
                        </small>
                    </a><!-- /.brand -->
                </div><!-- /.navbar-header -->

                <div class="navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">

                        <li class="light-blue open">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="/static/assets/avatars/user.jpg" alt="Jason's Photo">
                                <span class="user-info">
                                    <small>欢迎光临,</small>
                                    {{user.username}}
                                </span>

                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="/proposer/changepwd/">
                                        <i class="icon-edit"></i>
                                        修改密码
                                    </a>
                                </li>
                                <li class="divider"></li>

                                <li>
                                    <a href="/proposer/logout/">
                                        <i class="icon-off"></i>
                                        退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div>

        <div class="main-container" id="main-container">

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <ul class="nav nav-list">
                        <li >
                            <a href="/">
                                <i class="icon-dashboard"></i>
                                <span class="menu-text"> 控制台 - 首页 </span>
                            </a>
                        </li>


                        <li class="active">
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-desktop"></i>
                                <span class="menu-text"> 版本发布系统 </span>

                                <b class="arrow icon-angle-down"></b>
                            </a>  

                            <ul class="submenu">
                                <li>
                                    <a href="/proposer/showHosts/">
                                        <i class="icon-double-angle-right"></i>
                                        主机
                                    </a>
                                </li>

                                <li class="active">
                                    <a href="/proposer/showService/">
                                        <i class="icon-double-angle-right"></i>
                                        服务
                                    </a>
                                </li>

                                <li>
                                    <a href="/proposer/showServiceConfig/">
                                        <i class="icon-double-angle-right"></i>
                                        配置
                                    </a>
                                </li>

                                <li>
                                    <a href="/proposer/showPlayBooks/">
                                        <i class="icon-double-angle-right"></i>
                                        剧本
                                    </a>
                                </li>

                                <li>
                                    <a href="/proposer/showTask/">
                                        <i class="icon-double-angle-right"></i>
                                        任务
                                    </a>
                                </li>

                                <li>
                                    <a href="/proposer/showEnvironment/">
                                        <i class="icon-double-angle-right"></i>
                                        环境
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                    <li>
                                        <a href="/proposer/showLog/">
                                            <i class="icon-double-angle-right"></i>
                                            日志
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/proposer/showPower/">
                                            <i class="icon-double-angle-right"></i>
                                            授权
                                        </a>
                                    </li>      
                                {% endif%}  
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-file-alt"></i>

                                <span class="menu-text">
                                    学玲姐
                                    <span class="badge badge-primary ">5</span>
                                </span>

                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="faq.html">
                                        <i class="icon-double-angle-right"></i>
                                        学玲姐
                                    </a>
                                </li>

                                <li>
                                    <a href="error-404.html">
                                        <i class="icon-double-angle-right"></i>
                                        学玲姐
                                    </a>
                                </li>

                                <li>
                                    <a href="error-500.html">
                                        <i class="icon-double-angle-right"></i>
                                        学玲姐
                                    </a>
                                </li>

                                <li>
                                    <a href="grid.html">
                                        <i class="icon-double-angle-right"></i>
                                        学玲姐
                                    </a>
                                </li>

                                <li>
                                    <a href="blank.html">
                                        <i class="icon-double-angle-right"></i>
                                        学玲姐
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.nav-list -->

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>

                    <script type="text/javascript">
                        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                    </script>
                </div>
        </div>
    </div>

    <div class="main-content">

